@import "theme";

main.launching {

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;


    text-align: center;

    h1 {
        font-size: 3rem;
        color: white;
        font-weight: bold;
        margin-top: 2em;
    }
}

body {
    background: url('http://iwallpapers2.free.fr/images/Paysages/Hiver/Glace_bleu_-_Fond_ecran_Paysage.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.social-network {
    list-style: none;
    > li {
        font-size: 3rem;
        display: inline;
    }
}
.fort{
    
}
